@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');


.App {
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem;
  text-align: center;
  background-color: aquamarine;
  background-size: cover;
  height: 100vh;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6385c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-container {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}
h1 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.form-container form button {
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.user-info p {
  margin-right: 1rem;
}

